In [1]:
# 22_Feb Assignment

In [3]:
# Question :- 1

import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
# Question :- 2

import pandas as pd

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
series = pd.Series(my_list)

print(series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [6]:
# Question :- 3

import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [7]:
# Question :- 4

"""A DataFrame in pandas is a two-dimensional, size-mutable, and heterogeneous tabular data structure. It's similar to a spreadsheet or SQL table, and it consists of rows and columns. Each column in a DataFrame can hold data of a different data type. 
DataFrames are one of the core data structures provided by the pandas library, and they allow you to work with structured and labeled data efficiently."""

import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)

# Creating a Series
ages = pd.Series([25, 30, 27], name='Age')

print("DataFrame:")
print(df)
print("\nSeries:")
print(ages)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Series:
0    25
1    30
2    27
Name: Age, dtype: int64

In [8]:
# Question :- 5

# 1.head() and tail(): These functions allow you to view the first few or last few rows of a DataFrame, respectively.

# 2.shape: This attribute returns the dimensions (rows, columns) of the DataFrame.

# 3.describe(): Provides summary statistics of the numerical columns in the DataFrame.

import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)

print(df.head(2))  # Display the first 2 rows
print(df.tail(1))  # Display the last 1 row

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male
     Name  Age  Gender
2  Claire   27  Female

In [9]:
# Question :- 6

# Among the options provided, the DataFrame is mutable in nature.

# A mutable object is one that can be modified after it is created. In the context of Pandas, a mutable data structure allows you to change its values, add or remove rows or columns, and perform various modifications without creating an entirely new instance.

# Both Series and DataFrames are two of the core data structures in Pandas. However, while a Series is one-dimensional and behaves like an array or list, a DataFrame is two-dimensional and resembles a table or spreadsheet. DataFrames are designed to hold multiple Series-like structures, and they provide more flexibility and versatility when it comes to data manipulation.

In [10]:
# Question :_ 7

# In Pandas, you can create a DataFrame by combining multiple Series. Each Series will correspond to a column in the DataFrame. Here's an example:

import pandas as pd

# Creating Series for different columns
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# Combining Series to create a DataFrame
data = {'Name': names, 'Age': ages, 'Gender': genders}
df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female